Web References/MiFindCustomAndSfcDataServiceService/MiFindCustomAndSfcDataServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://machineintegration.ws.atlmes.com/" targetNamespace="http://machineintegration.ws.atlmes.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://www.sap.com/me/common" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:simpleType name="ObjectAliasEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ACTIVITY" />
          <xs:enumeration value="ACTIVITY_GROUP" />
          <xs:enumeration value="ACTIVITY_LOG" />
          <xs:enumeration value="ALARM" />
          <xs:enumeration value="ALARM_LOG" />
          <xs:enumeration value="APPLICATION_SETTING" />
          <xs:enumeration value="ATTACHMENT" />
          <xs:enumeration value="ATTENDANCE_LOG" />
          <xs:enumeration value="BACKGROUND_PROCESS" />
          <xs:enumeration value="BOM" />
          <xs:enumeration value="BOM_COMPONENT" />
          <xs:enumeration value="BUYOFF" />
          <xs:enumeration value="BUYOFF_LOG" />
          <xs:enumeration value="CERTIFICATION" />
          <xs:enumeration value="CNC_PROGRAM" />
          <xs:enumeration value="CONTAINER" />
          <xs:enumeration value="CONTAINER_DATA" />
          <xs:enumeration value="COST_CENTER" />
          <xs:enumeration value="CUSTOMER" />
          <xs:enumeration value="DATA_FIELD" />
          <xs:enumeration value="DATA_TYPE" />
          <xs:enumeration value="DC_GROUP" />
          <xs:enumeration value="DOCUMENT" />
          <xs:enumeration value="INVENTORY" />
          <xs:enumeration value="INVENTORY_LOG" />
          <xs:enumeration value="ITEM_GROUP" />
          <xs:enumeration value="LABOR_CHARGE_CODE" />
          <xs:enumeration value="MESSAGE" />
          <xs:enumeration value="MESSAGE_LOG" />
          <xs:enumeration value="MESSAGE_TYPE" />
          <xs:enumeration value="NC_CODE" />
          <xs:enumeration value="NEXT_NUMBER" />
          <xs:enumeration value="OPERATION" />
          <xs:enumeration value="PROCESS_LOT" />
          <xs:enumeration value="PRODUCTION_LOG" />
          <xs:enumeration value="REASON_CODE" />
          <xs:enumeration value="SAMPLE_PLAN" />
          <xs:enumeration value="WORK_INSTRUCTION" />
          <xs:enumeration value="ITEM" />
          <xs:enumeration value="RESOURCE" />
          <xs:enumeration value="ROUTER" />
          <xs:enumeration value="SHOP_ORDER" />
          <xs:enumeration value="ROUTER_STEP" />
          <xs:enumeration value="ROUTER_OPERATION" />
          <xs:enumeration value="SFC" />
          <xs:enumeration value="USR" />
          <xs:enumeration value="USER_GROUP" />
          <xs:enumeration value="WORK_CENTER" />
          <xs:enumeration value="WORKSTATION" />
          <xs:enumeration value="RESOURCE_TYPE" />
          <xs:enumeration value="CUSTOMER_ORDER" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema xmlns:ns1="http://www.sap.com/me/common" targetNamespace="http://machineintegration.ws.atlmes.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.sap.com/me/common" />
      <xs:element name="BasicBOBeanException" type="tns:BasicBOBeanException" />
      <xs:element name="customDataInParametricData" type="tns:customDataInParametricData" />
      <xs:element name="customDataOutParametricData" type="tns:customDataOutParametricData" />
      <xs:element name="findCustomAndSfcDataRequest" type="tns:findCustomAndSfcDataRequest" />
      <xs:element name="findCustomAndSfcDataResponse" type="tns:findCustomAndSfcDataResponse" />
      <xs:element name="masterData" type="tns:masterData" />
      <xs:element name="miFindCustomAndSfcData" type="tns:miFindCustomAndSfcData" />
      <xs:element name="miFindCustomAndSfcDataResponse" type="tns:miFindCustomAndSfcDataResponse" />
      <xs:complexType name="miFindCustomAndSfcData">
        <xs:sequence>
          <xs:element minOccurs="0" name="FindCustomAndSfcDataRequest" type="tns:findCustomAndSfcDataRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findCustomAndSfcDataRequest">
        <xs:sequence>
          <xs:element name="site" type="xs:string" />
          <xs:element name="operation" type="xs:string" />
          <xs:element minOccurs="0" name="operationRevision" type="xs:string" />
          <xs:element name="resource" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="masterDataArray" type="ns1:ObjectAliasEnum" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="customDataArray" type="tns:customDataInParametricData" />
          <xs:element name="user" type="xs:string" />
          <xs:element name="activity" type="xs:string" />
          <xs:element minOccurs="0" name="sfc" type="xs:string" />
          <xs:element minOccurs="0" name="inventory" type="xs:string" />
          <xs:element name="findSfcByInventory" type="xs:boolean" />
          <xs:element name="modeProcessSFC" type="tns:modeProcessSFC" />
          <xs:element name="isGetXY" type="xs:boolean" />
          <xs:element name="isGetCSC" type="xs:boolean" />
          <xs:element minOccurs="0" name="sfcOrder" type="xs:string" />
          <xs:element minOccurs="0" name="targetOrder" type="xs:string" />
          <xs:element minOccurs="0" name="checkInventoryAB" type="xs:string" />
          <xs:element minOccurs="0" name="showMarking" type="xs:boolean" />
          <xs:element minOccurs="0" name="findInventoryByGbt" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="customDataInParametricData">
        <xs:sequence>
          <xs:element name="category" type="ns1:ObjectAliasEnum" />
          <xs:element name="dataField" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="miFindCustomAndSfcDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:findCustomAndSfcDataResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findCustomAndSfcDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:int" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="sfc" type="xs:string" />
          <xs:element minOccurs="0" name="inventory" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="masterDataArray" type="tns:masterData" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="customDataArray" type="tns:customDataOutParametricData" />
          <xs:element minOccurs="0" name="xY" type="xs:string" />
          <xs:element minOccurs="0" name="CSC" type="xs:string" />
          <xs:element minOccurs="0" name="systemITEM" type="xs:string" />
          <xs:element minOccurs="0" name="systemSFC" type="xs:string" />
          <xs:element minOccurs="0" name="marking" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="masterData">
        <xs:sequence>
          <xs:element minOccurs="0" name="category" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="customDataOutParametricData">
        <xs:sequence>
          <xs:element name="category" type="ns1:ObjectAliasEnum" />
          <xs:element name="dataField" type="xs:string" />
          <xs:element name="dataAttribute" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BasicBOBeanException">
        <xs:sequence>
          <xs:element minOccurs="0" name="data" type="tns:data" />
          <xs:element minOccurs="0" name="details" type="xs:string" />
          <xs:element name="error" type="xs:int" />
          <xs:element minOccurs="0" name="errorMessage" type="tns:errorMessage" />
          <xs:element minOccurs="0" name="fullMsg" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="origException" type="tns:exception" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="suppressed" type="tns:throwable" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="data">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="errorMessage">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:applicationMessage">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="applicationMessage">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseObject">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseObject">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="exception">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:throwable">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="throwable">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stackTraceElement" final="extension restriction">
        <xs:sequence />
      </xs:complexType>
      <xs:simpleType name="modeProcessSFC">
        <xs:restriction base="xs:string">
          <xs:enumeration value="MODE_NONE" />
          <xs:enumeration value="MODE_START_SFC" />
          <xs:enumeration value="MODE_COMPLETE_SFC" />
          <xs:enumeration value="MODE_PASS_SFC" />
          <xs:enumeration value="MODE_START_COMPLETE_SFC" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="miFindCustomAndSfcDataIn">
    <wsdl:part name="parameters" element="tns:miFindCustomAndSfcData" />
  </wsdl:message>
  <wsdl:message name="miFindCustomAndSfcDataOut">
    <wsdl:part name="miFindCustomAndSfcDataResponse" element="tns:miFindCustomAndSfcDataResponse" />
  </wsdl:message>
  <wsdl:message name="miFindCustomAndSfcDataFault">
    <wsdl:part name="BasicBOBeanException" element="tns:BasicBOBeanException" />
  </wsdl:message>
  <wsdl:portType name="MiFindCustomAndSfcDataService">
    <wsdl:operation name="miFindCustomAndSfcData" parameterOrder="parameters">
      <wsdl:input message="tns:miFindCustomAndSfcDataIn" />
      <wsdl:output message="tns:miFindCustomAndSfcDataOut" />
      <wsdl:fault name="BasicBOBeanException" message="tns:miFindCustomAndSfcDataFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MiFindCustomAndSfcDataServiceBinding" type="tns:MiFindCustomAndSfcDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="miFindCustomAndSfcData">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BasicBOBeanException">
        <soap:fault use="literal" name="BasicBOBeanException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiFindCustomAndSfcDataServiceService">
    <wsdl:port name="MiFindCustomAndSfcDataServicePort" binding="tns:MiFindCustomAndSfcDataServiceBinding">
      <address location="http://gacmes1p022.catlgac.cn:50200/atlmeswebservice/MiFindCustomAndSfcDataServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>